.contact {
   background-image: url("../../Assets/Images/contact-bg.png");
   background-repeat: no-repeat;
   background-position: left bottom;
   background-size: contain;
   /* background-attachment: fixed; */
}